
<div class="big-wrapper">
  <mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #sidebar mode="over" position="end" [disableClose]="true">
      @defer (when formOption.length > 0) {
        @if (formOption.length > 0) {
          <form-registerSales #form [option]="formOption" [orderSelect]="orderSelect" [registerProducts]="registerProducts" [itemToUpdate]="itemToUpdate" (createEvent)="createItem($event)"
          (createOrderEvent)="createOrderDetail($event)"
           (cancelEvent)="cancel()"></form-registerSales> 
        }
      }
    </mat-drawer>
    <mat-drawer-content>
      <div class="table-wrapper">

        <dynamic-table #dynamicTable 
        (setCreateEvent)="setCreateItem()" 
        (setDeleteEvent)="deleteItem($event)" 
        (openDetailEvent)="openDetail($event)" 
        (searchDateEvent)="searchDate($event)" 
        header="Registro de ventas">
      </dynamic-table>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>


</div>

