@import '../../../../assets/scss/colors.scss';

$headerHeight: 60px;
$footerHeight: 60px;
$contentHeight: calc(100% - ($headerHeight + $footerHeight));

.big-wrapper {
    width: 100%;
    height: 100%;
    mat-drawer-container {
        height: 100%;
        mat-drawer-content {
            background-color: white;
            .table-wrapper {
                width: 100%;
                height: 100%;
            }
        }
    }
}


