<div class="big-wrapper">
  <div class="header">
    <h1 class="m-0 text-center">{{option == "create"? "Crear registro venta" : "Detalle venta"}}</h1>
  </div>
  <div class="content" [formGroup]="form"> <!---->


    <mat-form-field class="w-100 m-0 p-0" appearance="outline" color="primary">
      <mat-label>Clientes</mat-label>
      <mat-select formControlName="FC_clientName" >
        @for (client of listClient; track client) {
          <mat-option [value]="client.clientID">{{client.name}}</mat-option>
        }
        </mat-select>
        @if (clientName.hasError('required')) {
          <mat-error>Seleccion una opción, el campo es <strong>requerido</strong></mat-error>
        }
    </mat-form-field>

    <div class="d-flex w-100 gap-2">
      
        <mat-form-field class="w-50" appearance="outline" color="primary">
          <mat-label>Consecutivo de venta</mat-label>
          <input type="text" matInput formControlName="FC_consecutive"  placeholder="Nombre..." maxlength="9">
          @if (consecutive.hasError('required')) {
            <mat-error>El nombre es <strong>requerido</strong></mat-error>
          }
          @if (consecutive.hasError('minlength') && !consecutive.hasError('required')) {
            <mat-error>El mínimo de caracteres es 8</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-50" appearance="outline" color="primary">
          <mat-label>Fecha</mat-label>
          <input matInput formControlName="FC_orderDate" [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (orderDate.hasError('required')) {
            <mat-error>El Codigo es <strong>requerido</strong></mat-error>
          }
        </mat-form-field>

    </div>


    <mat-form-field class="w-100" appearance="outline" color="primary">
      <mat-label> Total</mat-label>
      <input type="text" matInput formControlName="FC_totalAmount"  placeholder="0"  maxlength="15">
      @if (totalAmount.hasError('required')) {
        <mat-error>El Total es <strong>requerido</strong></mat-error>
      }
    </mat-form-field>

    @if(!registerProducts && option != 'detail'){

    <div class="w-100 d-flex justify-content-end">
      <button mat-button class="mr-3" (click)="cancel()">Cancelar</button>
        <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="createItem()">Registar Cabecera</button>
    </div>
  }
  </div>
@if(registerProducts || option == 'detail'){

  <h4><strong>{{option == 'detail' ? 'Productos registrados' : 'Registrar productos'}}</strong></h4>

  @if(option != 'detail'){
    <div class="content" [formGroup]="formDetail">
      <mat-form-field class="w-100" appearance="outline" color="primary">
        <mat-label>Productos</mat-label>
        <mat-select formControlName="FC_products" multiple="true">
          @for (product of listProduct; track product) {
            <mat-option [value]="product">{{product.code}}| {{product.name}}</mat-option>
          }
          </mat-select>
          @if (products.hasError('required')) {
            <mat-error>Seleccion una opción, el campo es <strong>requerido</strong></mat-error>
          }
      </mat-form-field>
    </div>
  }

<div class="content">

    <div class="demo-button-container w-100">
 

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table w-100">
      
      <ng-container matColumnDef="Codigo">
        <th mat-header-cell *matHeaderCellDef class="row-header">Codigo</th>
        <td mat-cell *matCellDef="let element">{{element.code}}</td>
        <td mat-footer-cell *matFooterCellDef class="row-footer"></td>
      </ng-container>
    
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef class="row-header">Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
        <td mat-footer-cell *matFooterCellDef class="row-footer"></td>
      
      </ng-container>
    
      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef class="row-header">Cantidad</th>
        <td mat-cell *matCellDef="let element">
          <input type="text" [readonly]="option =='detail'? true: false" [(ngModel)]="element.amount"  (ngModelChange)="inputChanges($event, element)" min="1"></td>
          <td mat-footer-cell *matFooterCellDef class="row-footer"></td>
      
        </ng-container>
    
      <ng-container matColumnDef="Valor unidad">
        <th mat-header-cell *matHeaderCellDef class="row-header">Valor unidad</th>
        <td mat-cell *matCellDef="let element">{{element.price | currency:'COP':'':'1.0-0' }}</td>
        <td mat-footer-cell *matFooterCellDef class="row-footer"></td>
      </ng-container>

      <ng-container matColumnDef="Porcentaje Iva">
        <th mat-header-cell *matHeaderCellDef class="row-header">Porcentaje Iva</th>
        <td mat-cell *matCellDef="let element">{{element.percentIva? element.percentIva :  'No aplica'}}</td>
        <td mat-footer-cell *matFooterCellDef class="row-footer"></td>

      </ng-container>

      <ng-container matColumnDef="Iva calculado">
        <th mat-header-cell *matHeaderCellDef class="row-header">Iva calculado Unidad</th>
        <td mat-cell *matCellDef="let element">{{element.calIva? (element.calIva | currency:'COP':'':'1.0-0' ): 'No aplica'}}</td>
        <td mat-footer-cell *matFooterCellDef class="row-footer"><strong>Total:</strong></td>
      
      </ng-container>

      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef class="row-header">Total</th>
        <td mat-cell *matCellDef="let element">{{element.total | currency:'COP':'':'1.0-0'}}</td>
        <td mat-footer-cell *matFooterCellDef  class="row-footer"> <strong>  {{ "$" + (getTotal() | currency:'COP':'':'1.0-0')}}</strong> </td>
      </ng-container>
      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

  </div>
  <div class="w-100 d-flex mt-4 justify-content-end">
      @if(option != 'detail'){
      <button mat-flat-button color="primary" [disabled]="formDetail.invalid" (click)="createOrderDetail()">Registar Detalle</button>
    }@else{
      <button mat-button class="mr-3" (click)="cancel()">Regresar</button>
    }
    
    </div>
  </div>
}


   
</div>

