
<div class="big-wrapper">
  <div class="header">
    <img src="../../../../assets/icons/logo-locatel.png" alt="locatel-logo">
  </div>
  <div class="profile">
    <div class="profile_photo">
      <img src="../../../../assets/img/foto-user.png">
    </div>
    <div class="profile_data">
      <p class="font-sm fw-6 mt-0 mb-2 ">Usuario Administrador</p>
      <p class="font-xs fw-5 mt-0 text-white">{{'correo@locatel.com'}}</p>
    </div>
  </div>
  <div class="modules">
    <div class="module">
      <p class="module_name mv-0 fw-6 ">Accesos rapidos</p>
      <p class="module_description mt-0 mb-1 font-xs fw-6  text-white">Modulos principales</p>
      <div class="module_options">
        <button (click)="navigateTo('apps')"><mat-icon fontIcon="widgets" class="material-icons-outlined"></mat-icon>Registo de ventas</button>
      </div>
    </div>


      <div class="module">
        <p class="module_name mb-0 fw-6 ">Administración</p>
        <p class="module_description mt-0 mb-1 font-xs fw-6 text-white">Administración de datos</p>
        <div class="module_options">
          <button (click)="navigateTo('clients')"><mat-icon fontIcon="domain"></mat-icon>Clientes</button>
          <button (click)="navigateTo('products')"><mat-icon fontIcon="group" class="material-icons-outlined"></mat-icon>Productos</button>

        </div>
      </div>
    
    <div class="module">
      <p class="module_description mt-0 mb-1 font-xs fw-6 text-white">Opciones adicionales</p>
      <div class="module_options">
        <button (click)="navigateTo('signout', false)"><mat-icon fontIcon="logout"></mat-icon>Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>